@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
:root{
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

body {
		  margin: 0;
		  overflow: hidden;
		  background-color: black;
		}
		
		.scene {
		  width: 100%;
		  height: 100%;
		  position: fixed;
		  top: 0;
		  left: 0;
      display: none;
		}
		}
.nav-menu{
  position: fixed;
  background-color: var(--bg-black-50);
  padding:0 15px;
  left: 0;
  top: 0;
  width:100%;
  height: 100%;
  z-index: 999;

}
.nav-menu .copyright-text{
  position: absolute;
  left: -30px;
  top: 50%;
  font-size: 15px;
  color: black;
  transform: translateY(-50%) rotate(-90deg);
}
		.credits {
		  position: fixed;
		  bottom: 10px;
		  right: 10px;
		  max-width: 250px;
		  z-index: 10;
		  text-align: right;
		}
		
		a {
		  display: block;
		  padding: 2px 0;
		  color: #1d1f3f;
		  text-decoration: none;
		  font-family: Helvetica, Verdana, sans-serif;
		  font-size: 15px;
		}
		
		a:hover {
		  text-decoration: underline;
		}
		
		.gift.hidden {
		  display: none;
		}
		
		.gift {
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  background: black;
		  cursor: pointer;
		}
		
		.gift svg {
		  width: 100%;
		  height: 100%;
		}
